.home-section {
    padding: 50px 0;
    background-color: #f5f5f5;
    margin: 0 10px; /* Add a thin gap on the sides */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
    border-radius: 8px;
}
.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-out;

}

.profile-picture img {
    object-fit: cover;
    padding: 50px 10px 50px 10px;
    margin: 30px 20px 0 0;
    width: 230px;
    height: 300px;
    box-shadow: 0 0 10px rgba(10, 0, 0, 0.2);

}


.intro {
    padding: 10px;
}

.intro h1 {
    font-size: 40px;
    margin-bottom: 10px;animation: fadeInUp 1s ease-out;
}

.intro p {
    align-content: center;
    padding: 0;
    font-size: 22px;


}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.contact-details a{
    font-size: 20px;
    color: #333;
    width: 40px;
    height: 40px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.contact-details a:hover {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
    border-radius: 10px;
}
