/* Experience.css */
/* ... (existing styles) */

.experience-item {
    padding: 20px 30px;
    margin: 20px 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: left;

}

.experience-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.experience-heading h3 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 0;

}

.experience-heading p {
    font-size: 16px;
    color: #777;
}

.experience-item h4 {
    font-size: 18px;
    color: black;
    text-align: left;
}

.experience-item p {
    margin: 10px 0;
}
.building-icon {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
.experience-item li {
    margin: 8px;
}
.click-icon {
    width: 15px;
    height: 15px;
    padding-left: 5px;
}